<% include layout/header.ejs %>

<div id="nav"></div>


<div id="main_content" class="table table-bordered">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Quiz taking</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <div id="dataTables-example_wrapper"
                     class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div id="root">



                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

</div>

<div id="footer">

</div>


<input type="hidden" name="quiz_id" id="quiz_id" value="<%- id %>">

<script src="/static/nav.bundle.js"></script>
<script src="/static/question.bundle.js"></script>

<script>
    $(window).bind('beforeunload', function(){
        return 'Finish and save the answers before you leave.';
    });
</script>

<% include layout/footer.ejs %>

