<% include layout/header.ejs %>


        <% include layout/nav.ejs %>

        <!-- content start -->

        <div id="main_content">


            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User Profile</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    Detail
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <div id="form">

                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>

        </div>

        <!-- content end -->

        <script>
            var id = $("#id").val();
            $(document).ready(function(){
                if(id != null && id.length!=0){
                    getUser(id);
                }
            });

            $.validator.setDefaults({
//        debug:true
            });

            $().ready(function() {
                $("#form").validate({
                    rules: {
                        name: "required",
                        username: {
                            required: true,
                            minlength: 4
                        },
                        password: {
                            required: true,
                            minlength: 4
                        }
                    },
                    submitHandler: function() {
                        id = $("#id").val();
                        if (id != null && id.length!=0) {
                            updateUser();
                        }else {
                            addUser();
                        }
                    }
                });
            });


        </script>

<script src="/static/user.bundle.js"></script>

<% include layout/footer.ejs %>

